<%-include("./../includes/head")%>
<body>

<header>
		<div class=" wrap">
			<a href="/" class="foodies"><img src="/css/font/Foodies-2.svg" alt=""></a>
			<div class="top-nav">
				<ul class="nav-listing">
					<li><a href="/">Home</a></li>
					<li><a href="/all">Browse</a></li>
					<li><a href="#">Restaurant</a></li>
					<li><a href="#">Partner</a></li>
					
				</ul>
			</div>
			<div>
				<a href="/all/signup">Sign up</a>
				<a class="signin" href="/all/login">Sign in</a>
			</div>
		</div>
</header>	

<!-- <div class="loader">

	<video  loop autoplay>
		<source src="images/LLT-Dribbble-Grubbage-LoadingAnimation-720.mp4">
		<source src="images/LLT-Dribbble-Grubbage-LoadingAnimation-720.ogg" type="video/ogg">	
	</video>
</div> -->
<!-- 
<section class="food-list">
	<div class="wrap">
		<div class="list-food">
			<ul>
				<li>Starter</li>
				<li>Burgers</li>
				<li>Chooped Salad</li>
				<li>Taco</li>
				<li>Specialies</li>
				<li>Kids of all ages</li>
				<li>Dissert</li>
				<li>Beverage</li>
				<li>Cocktail</li>
				<li>More</li>
			</ul>
		</div>
	</div>
</section> agent-name gender number (level edu) --momo enan phone type avgcus location  tableLoc    
 -->

<section class="cat-head">
	<div class="wrap">
		<div class="cat1">
			<div class="heading">
				<p class="p1"><span class="head-bold">find awesome deals </span><span>In Ghana</span></p>
				<p class="p2">Lists of top resturants, cafes and bars in Sunyani on trends</p>
			</div>
		<div class="head-search">
			<form action="#">

				<label class="search-text">find a food</label>
				<span class="search"><input type="text" placeholder="Enter your food name"></span>
				<a href="#" class="search-icon">Search</a>
			</form>
		</div>
		<!-- <div class="trend">
			<p>Eg. Beverage, Pizzas Chinese, Bakery, Fried-rice...</p>
			<div class="trend-show">
				<div class="show-food">
					<div class="show-div">
						<img src="../images/breakfast-1.jpg" alt="">
					</div>
					<div class="food-title">
						<span>Chiken</span>
						<span class="amount">134</span>
					</div>
				</div>
				<div class="show-food">
					<div class="show-div">
						<img src="../images/breakfast-2.jpg" alt="">
					</div>
					<div class="food-title">
						<span>Chiken</span>
						<span class="amount">134</span>
					</div>
				</div>
				<div class="show-food">
					<div class="show-div">
						<img src="../images/breakfast-3.jpg" alt="">
					</div>
					<div class="food-title">
						<span>Chiken</span>
						<span class="amount">134</span>
					</div>
				</div>
				<div class="show-food">
					<div class="show-div">
						<img src="../images/breakfast-4.jpg" alt="">
					</div>
					<div class="food-title">
						<span>Chiken</span>
						<span class="amount">134</span>
					</div>
				</div>
				<div class="show-food">
					<div class="show-div">
						<img src="../images/breakfast-5.jpg" alt="">
					</div>
					<div class="food-title">
						<span>Chiken</span>
						<span class="amount">134</span>
					</div>
				</div>
				
			</div> -->
		</div>
		</div>

		<div class="show">
		
		</div>
	</div>
</section>

<section class="browse">
	<div class="wrap">
		<div class="browse-list">
			<img src="/css/font/icons8_2012_2.ico" alt="">
			<p>Upcoming Events</p>
		</div>
		<div class="browse-list">
			<img src="/css/font/icons8_the_toast.ico" alt="">
			<p>Dessert & Bakes</p>
		</div>
		<div class="browse-list">
			<img src="/css/font/icons8_place_marker_2.ico" alt="">
			<p>Cafes & More</p>
		</div>
		<div class="browse-list">
			<img src="/css/font/icons8_kawaii_coffee.ico" alt="">
			<p>Drinks & Nightkise</p>
		</div>
		<div class="browse-list">
			<img src="/css/font/icons8_shop.ico" alt="">
			<p>Newly Opened</p>
		</div>

	</div>
</section>


<section class="browse-two">
	<div class="wrap">
		<div class="browse-list">
			<div class="icon"><img src="/css/font/icons8_waiter_1.ico" alt=""></div>
			<div class="browse-item">
				<h3>Choose Your Area Resturant</h3>
				<p>Lorem ipsum dolor sit amet, cisicing elit. Cumquam.</p>
			</div>
		</div>
		<div class="browse-list">
			<div class="icon"><img src="/css/font/icons8_hamburger_1.ico" alt=""></div>
			<div class="browse-item">
				<h3>Choose Food</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing .</p>
			</div>
		</div>
		<div class="browse-list">
			<div class="icon"><img src="/css/font/icons8_food_truck_2.ico" alt=""></div>
			<div class="browse-item">
				<h3>Delivery</h3>
				<p>Lorem ipsum dolor sit amet, ing elit. Nemo sio.</p>
			</div>
		</div>
	</div>
</section>



<section class="browse-three">
	<div class="wrap">
		<h1>Discover New Restaurants & Book Now</h1>
		
		<div class="browse-div ">
			<% meal.forEach(function(data){%>
			<div class="browse-list carousel-slide">
				<a hr#ef="/all">
			<div class="icon"><img src="<%= data.icon%>" alt=""></div>
			<div class="browse-item">
				<h3><%= data.restaurant%></h3>
				
			</div>
			</a>
		</div>
		<%});%>
		
		</div>
		
		
	</div>
</section>


<section class="search-food">
	<div class="wrap">
		<div class="search">
			<h1>Order Food Online In Your Area</h1>
			<p>
				<span class="food-loc">
					<img src="/css/font/icons8_marker_2.ico" alt="">Sunyani </span>
				<span>Change Location</span>
			</p>
			<div class="search-list">
				<form action="#">
					<div>
						<input type="text" placeholder="Enter Your Location">
						<span>
							<!-- <img src="css/font/icons8_target_2.ico" alt=""> -->
							<a href="#">Search</a>
						</span>
						
					</div>
				</form>
			</div>

		</div>
	</div>
</section>


<section class="food-find">
	<div class="wrap">
		<div class="joint-wrap">
			<% meal.slice(0,8).forEach(function(data){%>
			<div class="joint">
			<div class="food img1 " style="background-image:url(<%= data.images%>)">
				
			</div>
			<div class="food-detail">
				<div class="detail-one">
					<div class="detail-img ">
						<img src="<%= data.icon%>" alt="">
					</div>
					<div class="detail-two">
						<h4><%= data.food %></h4>
						<span class="joint-name"><%= data.restaurant%></span>
						<span class="cash">
							<span>&cent;</span>
							<span><%= data.price%></span>
						</span>
					</div>
				</div>
				<div class="detail-three">
					<div class="deliver">
						<img src="/css/font/icons8_shopping_cart_2.ico" alt="">
						<span>Delivery Free: <%= data.delivery%></span>
					</div>
					<div class="timing">
						<img src="/css/font/icons8_clock_1.ico" alt="">
						<span>Delivery Time: <%= data.deliveryTime%></span>
					</div>
					<div class="rating">
						<span>
							<img src="/css/font/icons8_star.ico" alt="">
							
						</span>
						<span class="rate"><%= data.rating %></span>
						<span>
							<img src="/css/font/icons8_speech_bubble_1.ico" alt="">
							<span><%= data.comment%></span>
						</span>

							<a href="#" class="add-food">&plus;</a>
						
					</div>
			</div>
				</div>
				
		</div>
		<%});%>

<!-- 
		<div class="joint">
			<div class="food img2">
			
			</div>
			<div class="food-detail">
				<div class="detail-one">
					<div class="detail-img">
						<img src="css/font/icons8_tableware.ico" alt="">
					</div>
					<div class="detail-two">
						<h4>Bonn Brake</h4>
						<span class="joint-name">Ausbett Inn</span>
						<span class="cash">
							<span>&cent;</span>
							<span>45</span>
						</span>
					</div>
				</div>
				<div class="detail-three">
					<div class="deliver">
						<img src="css/font/icons8_shopping_cart_2.ico" alt="">
						<span>Delivery Free: Free</span>
					</div>
					<div class="timing">
						<img src="css/font/icons8_clock_1.ico" alt="">
						<span>Delivery Time: 30min</span>
					</div>
					<div class="rating">
						<span>
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star_half_1.ico" alt="">
						</span>
						<span class="rate">4.5</span>
						<span>
							<img src="css/font/icons8_speech_bubble_1.ico" alt="">
							<span>05</span>
						</span>
					</div>
			</div>
				</div>
				
		</div>
		<div class="joint">
			<div class="food img3">
				
			</div>
			<div class="food-detail">
				<div class="detail-one">
					<div class="detail-img">
						<img src="css/font/icons8_restaurant.ico" alt="">
					</div>
					<div class="detail-two">
						<h4>Salad Breeze</h4>
						<span class="joint-name">Swift</span>
						<span class="cash">
							<span>&cent;</span>
							<span>32</span>
						</span>
					</div>
				</div>
				<div class="detail-three">
					<div class="deliver">
						<img src="css/font/icons8_shopping_cart_2.ico" alt="">
						<span>Delivery Fee: Free</span>
					</div>
					<div class="timing">
						<img src="css/font/icons8_clock_1.ico" alt="">
						<span>Delivery Time: 30 Min</span>
					</div>
					<div class="rating">
						<span>
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star_half_1.ico" alt="">
						</span>
						<span class="rate">4.5</span>
						<span>
							<img src="css/font/icons8_speech_bubble_1.ico" alt="">
							<span>05</span>
						</span>
					</div>
			</div>
				</div>
				
		</div>
		<div class="joint">
			<div class="food img4">
				
			</div>
			<div class="food-detail">
				<div class="detail-one">
					<div class="detail-img">
						<img src="css/font/icons8_cook.ico" alt="">
					</div>
					<div class="detail-two">
						<h4>Pizza</h4>
						<span class="joint-name">Flex</span>
						<span class="cash">
							<span>&cent;</span>
							<span class="price">70</span>
						</span>
					</div>
				</div>
				<div class="detail-three">
					<div class="deliver">
						<img src="css/font/icons8_shopping_cart_2.ico" alt="">
						<span>Delivery Fee: Free</span>
					</div>
					<div class="timing">
						<img src="css/font/icons8_clock_1.ico" alt="">
						<span>Delivery Time: 30 Min</span>
					</div>
					<div class="rating">
						<span>
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star_half_1.ico" alt="">
						</span>
						<span class="rate">4.5</span>
						<span>
							<img src="css/font/icons8_speech_bubble_1.ico" alt="">
							<span>05</span>
						</span>
					</div>
			</div>
				</div>
				
		</div>

		<div class="joint">
			<div class="food img5">
				
			</div>
			<div class="food-detail">
				<div class="detail-one">
					<div class="detail-img">
						<img src="css/font/icons8_cook.ico" alt="">
					</div>
					<div class="detail-two">
						<h4>Pizza</h4>
						<span class="joint-name">Flex</span>
						<span class="cash">
							<span>&cent;</span>
							<span class="price">70</span>
						</span>
					</div>
				</div>
				<div class="detail-three">
					<div class="deliver">
						<img src="css/font/icons8_shopping_cart_2.ico" alt="">
						<span>Delivery Fee: Free</span>
					</div>
					<div class="timing">
						<img src="css/font/icons8_clock_1.ico" alt="">
						<span>Delivery Time: 30 Min</span>
					</div>
					<div class="rating">
						<span>
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star_half_1.ico" alt="">
						</span>
						<span class="rate">4.5</span>
						<span>
							<img src="css/font/icons8_speech_bubble_1.ico" alt="">
							<span>05</span>
						</span>
					</div>
			</div>
				</div>
				
		</div>

		<div class="joint">
			<div class="food img6">
				
			</div>
			<div class="food-detail">
				<div class="detail-one">
					<div class="detail-img">
						<img src="css/font/icons8_cook.ico" alt="">
					</div>
					<div class="detail-two">
						<h4>Pizza</h4>
						<span class="joint-name">Flex</span>
						<span class="cash">
							<span>&cent;</span>
							<span class="price">70</span>
						</span>
					</div>
				</div>
				<div class="detail-three">
					<div class="deliver">
						<img src="css/font/icons8_shopping_cart_2.ico" alt="">
						<span>Delivery Fee: Free</span>
					</div>
					<div class="timing">
						<img src="css/font/icons8_clock_1.ico" alt="">
						<span>Delivery Time: 30 Min</span>
					</div>
					<div class="rating">
						<span>
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star_half_1.ico" alt="">
						</span>
						<span class="rate">4.5</span>
						<span>
							<img src="css/font/icons8_speech_bubble_1.ico" alt="">
							<span>05</span>
						</span>
					</div>
			</div>
				</div>
				
		</div>

		<div class="joint">
			<div class="food img7">
				
			</div>
			<div class="food-detail">
				<div class="detail-one">
					<div class="detail-img">
						<img src="css/font/icons8_cook.ico" alt="">
					</div>
					<div class="detail-two">
						<h4>Pizza</h4>
						<span class="joint-name">Flex</span>
						<span class="cash">
							<span>&cent;</span>
							<span class="price">70</span>
						</span>
					</div>
				</div>
				<div class="detail-three">
					<div class="deliver">
						<img src="css/font/icons8_shopping_cart_2.ico" alt="">
						<span>Delivery Fee: Free</span>
					</div>
					<div class="timing">
						<img src="css/font/icons8_clock_1.ico" alt="">
						<span>Delivery Time: 30 Min</span>
					</div>
					<div class="rating">
						<span>
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star_half_1.ico" alt="">
						</span>
						<span class="rate">4.5</span>
						<span>
							<img src="css/font/icons8_speech_bubble_1.ico" alt="">
							<span>05</span>
						</span>
					</div>
			</div>
				</div>
				
		</div>


		<div class="joint">
			<div class="food img8">
				
			</div>
			<div class="food-detail">
				<div class="detail-one">
					<div class="detail-img">
						<img src="css/font/icons8_cook.ico" alt="">
					</div>
					<div class="detail-two">
						<h4>Pizza</h4>
						<span class="joint-name">Flex</span>
						<span class="cash">
							<span>&cent;</span>
							<span class="price">70</span>
						</span>
					</div>
				</div>
				<div class="detail-three">
					<div class="deliver">
						<img src="css/font/icons8_shopping_cart_2.ico" alt="">
						<span>Delivery Fee: Free</span>
					</div>
					<div class="timing">
						<img src="css/font/icons8_clock_1.ico" alt="">
						<span>Delivery Time: 30 Min</span>
					</div>
					<div class="rating">
						<span>
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star.ico" alt="">
							<img src="css/font/icons8_star_half_1.ico" alt="">
						</span>
						<span class="rate">4.5</span>
						<span>
							<img src="css/font/icons8_speech_bubble_1.ico" alt="">
							<span>05</span>
						</span>
					</div>
			</div>
				</div>
				
		</div> -->
		</div>

		<div class="see-all">
			<a href="/all">See All</a>
		</div>

		<div class="food-advert">
			<div class="advert-img1 over">
				<div>
					<h2>Order Food Online</h2>
					<p>Use code to get 50% of upto <span>&cent;</span>10 <br>on your next order</p>
					<a href="#">Order Now</a>			
				</div>
				
				
			</div>
			<div class="advert-img2 over">
				<div>
					<h2>Memberships <span>&rarr;</span> Open Now</h2>
					<p>Membership are now open for <br>purchases</p>
					<a href="/membership">Sign up Now</a>
				</div>
				
			</div>
		</div>
	</div>
</section>


<section class="quick-search">
	<div class="wrap">
		<div class="search-head">
			<div class="head">
				<h3>Quick Searches</h3>
				<p>Discover Restaurant By Type Of Meal</p>
			</div>
			<div class="head-icons">
				<span><img src="/css/font/icons8_spaghetti.ico" alt="">
				<p>Lunch</p></span>
				<span><img src="/css/font/icons8_rice_bowl.ico" alt="">
				<p>Dinner</p></span>
				<span><img src="/css/font/icons8_coffee_to_go.ico" alt="">
				<p>Cafe's</p></span>
				<span><img src="/css/font/icons8_lunchbox.ico" alt="">
				<p>Delivery</p></span>
				<span><img src="/css/font/icons8_cafe.ico" alt="">
					<p>Breakfast</p></span>
			</div>
		</div>

		<div class="head-features"> 
			<h3>Featured Restaurants</h3>
			<h3>Trending This Week Sellers</h3>
		</div>

		<div class="featured">
			<div class="list">
				<% meal.slice(0,5).forEach((data)=>{%>
				<div class="list-item">
					<div class="res res-div">
						<% if(data.icon){%>
						<img src="<%= data.icon%>" alt="">
						<%};%>
						<div>
							<h4><%= data.restaurant%></h4>
							<%= data.food%>
						</div>
					</div>
					<div class="res-loc res-div">
						<img src="/css/font/icons8_marker_2.ico" alt="">
						<span class="loc-icon"><%= data.location%></span>
					</div>
					<a href="#">View Menu</a>
				</div>
				<%});%>
				<!-- <div class="list-item">
					<div class="res">
						<img src="css/font/icons8_waiter_1.ico" alt="">
						<div>
							<h4>Swift</h4>
							Canadian Bakery
						</div>
					</div>
					<div class="res-loc">
						<img src="css/font/icons8_marker_2.ico" alt="">
						<span>Sunyani</span>
					</div>
					<a href="#">View Menu</a>
				</div>
				<div class="list-item">
					<div class="res">
						<img src="css/font/icons8_equestrian_statue_2.ico" alt="">
						<div>
							<h4>Swift</h4>
							Canadian Bakery
						</div>
					</div>
					<div class="res-loc">
						<img src="css/font/icons8_marker_2.ico" alt="">
						<span>Sunyani</span>
					</div>
					<a href="#">View Menu</a>
				</div>
				<div class="list-item">
					<div class="res">
						<img src="css/font/icons8_restaurant.ico" alt="">
						<div>
							<h4>Swift</h4>
							Canadian Bakery
						</div>
					</div>
					<div class="res-loc">
						<img src="css/font/icons8_marker_2.ico" alt="">
						<span>Sunyani</span>
					</div>
					<a href="#">View Menu</a>
				</div>
				<div class="list-item">
					<div class="res">
						<img src="css/font/icons8_cook.ico" alt="">
						<div>
							<h4>Swift</h4>
							Canadian Bakery
						</div>
					</div>
					<div class="res-loc">
						<img src="css/font/icons8_marker_2.ico" alt="">
						<span>Sunyani</span>
					</div>
					<a href="#">View Menu</a>
				</div> -->
				
			</div>
			<div class="trend-list">
				<% meal.slice(0,5).sort((a,b)=>b.rating-a.rating).forEach(data => {%>
				<div class="trends">
					<div class="res">
						<img src="<%= data.icon%>" alt="">
						<div>
							<h4><%= data.restaurant%></h4>
							Trending
						</div>
					</div>
					<a href="#">View Menu</a>
				</div>
				<%});%>
				<!-- <div class="trends">
					<div class="res">
						<img src="css/font/icons8_dish_tv.ico" alt="">
						<div>
							<h4>Eusbett</h4>
							Trending
						</div>
					</div>
					<a href="#">View Menu</a>
				</div>
				<div class="trends">
					<div class="res">
						<img src="css/font/icons8_equestrian_statue_2.ico" alt="">
						<div>
							<h4>Eusbett</h4>
							Trending
						</div>
					</div>
					<a href="#">View Menu</a>
				</div>
				<div class="trends">
					<div class="res">
						<img src="css/font/icons8_waiter_1.ico" alt="">
						<div>
							<h4>Eusbett</h4>
							Trending
						</div>
					</div>
					<a href="#">View Menu</a>
				</div>
				<div class="trends">
					<div class="res">
						<img src="css/font/icons8_swedish_krona.ico" alt="">
						<div>
							<h4>Eusbett</h4>
							Trending
						</div>
					</div>
					<a href="#">View Menu</a>
				</div> -->

				
			</div>
		</div>
	</div>	
</section>





</body>
</html>


